<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Doctor White 个人技术分享</title>
  <meta name="csrf-token" content="dadwqqedsadadwqeqeqweq">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/index.css" />
  <link rel="stylesheet" href="/css/pace.css">
  <script src="/js/pace.js"></script>
  <style>
    .demo8-outer {
      background-color: #EEE;
      color: #FFF;
      position: absolute;
      width: 100%;
      height: 100%;
      font: 28px/1em "Helvetica";
      display: flex;
      justify-content: center;
      align-items: center;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
    }
    .demo8 {
      width: 320px;
      height: 300px;
    }
    .demo8-item {
      position: absolute;
      width: 320px;
      height: 60px;
      overflow: visible;
      pointer-events: auto;
      transform-origin: 50% 50% 0px;
      border-radius: 4px;
      color: rgb(153, 153, 153);
      line-height: 60px;
      padding-left: 32px;
      font-size: 24px;
      font-weight: 400;
      background-color: rgb(255, 255, 255);
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      cursor: pointer;
    }
    .link {
      position: absolute;
      color: rgb(76, 76, 76);
      text-decoration: none;
      font: 14px/1em "Helvetica";
      padding: 10px;
      top: 0;
      left: 0;
    }
  </style>
</head>
<body>
  <div id="root"></div>
  <script src="/js/clipboard.min.js"></script>

  <script>
        new Clipboard('.copy-button')
  </script>
</body>
</html>
