
.normal {
  font-family: Georgia, sans-serif;
  margin-top:0;
  text-align: center;
  height: 100%;
  background-color: #2196f3;
}
.bgImg{
  height: 400px;
  background-image: url('../../assets/material-ui.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.title{
  color: #ffffff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.description{
  font-size: 22px;
  color: #ffffff;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}