.title{
    margin:10px 20px;
    width: 300px;
}
.titleInput{
    font-size: 24px;
}

.tableCell{
    max-width: 200px;
    height:49px ;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    padding:0 0 0 24px;
}